@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model AutomatedRecruiter.Models.JobCandidate
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<script type="text/javascript">
    $(document).ready(function () {
        var submit = true;
        var hasExp = false;
        //tabbing off exerience field checks the skills of the job against 
        // the experience of candidates
        $("#experience").attr('style', 'width:100% !important');
        $("#education").attr('style', 'width:100% !important');
        $("#error").hide();
        $("#form-error").hide();
        $("#name").on("focusout", function () {
            if ($(this).val() == "") {
                submit = false;
                $("#name-error").show();
            }
            else{
                submit = true;
                $("#name-error").hide();
            }
            
        });
        $("#phone").on("focusout", function () {
            if ($(this).val() == "") {
                submit = false;
                $("#phone-error").show();
            }
            else {
                submit = true;
                $("#phone-error").hide();
            }

        });
        $("#city").on("focusout", function () {
            if ($(this).val() == "") {
                submit = false;
                $("#city-error").show();
            }
            else {
                submit = true;
                $("#city-error").hide();
            }
        });
        $("#email").on("focusout", function () { 
            if ($(this).val() == "") {
                submit = false;
                $("#email-error").show();
            }
            else {
                submit = true;
                $("#email-error").hide();
            }
        });
        $("#state").on("focusout", function () {
            if ($(this).val() == "") {
                submit = false;
                $("#state-error").show();
            }
            else{
                submit = true;
                $("#state-error").hide();
            }
        });
        $("#addr").on("focusout", function () { 
            if ($(this).val() == "") {
                submit = false;
                $("#addr-error").show();
            }
            else {
                $("#addr-error").hide();
                submit = true;
            }
        });

        $("#experience").on("focusout", function () {
            if ($(this).val() != "") {
                $("#exp-error").hide();
                submit = true;
                var skills = $("#skills-container")[0].innerText;
                var skillsarray = skills.split(", ");
                var userExp = $(this).val();
                var condition = [];
                for (var i = 0; i < skillsarray.length; i++) {
                    var hasexperience = userExp.indexOf(skillsarray[i]) != -1;
                    condition.push(hasexperience);
                }
                if (condition.every(element => element === false)) {
                    $("#error").show();
                    $("#skills-description").append(skills);
                }
                else {
                    //  $("#submit").removeAttr("disabled");
                    hasExp = true;
                    $("#exp-error").hide();
                    $("#error").hide();
                }
            }
            else {
                $("#error").show();
                submit = false;
            }
        });
        $("#education").on("focusout", function () { 
            if ($(this).val() == "") {
                $("#edu-error").show();
                submit = false;
            }
            else {
                $("#edu-error").hide();
                submit = true;
            }
            if (submit && hasExp) {
                $("#submit").removeAttr("disabled");

            }
            else {
                if (hasExp) {
                    if (submit == false) {
                        $("#form-error").show();
                    }
                    else {
                        $("#form-error").hide();
                    }
                }
            }
        });
        

    });
</script>
@foreach(var job in ViewBag.Jobs)
{
    <h1>@job.jobTitle</h1>
    <p id="description">@job.jobDescription</p>
    <p>Skills Required: <span id="skills-container">@job.jobSkills</span></p>
    <div id="form"></div>
}
<h2><strong>Apply Below<hr /></strong></h2>
 @using(Html.BeginForm("Index", "JobCandidate", FormMethod.Post)){
<form>
   
<div class="form-group" style="width:100%">

    <div style="float:left; width:50%">
    <label for="CandidateName">First Name, Last Name:</label>
    @* <input type="text" id="name" /> *@
    @Html.TextBoxFor(m => m.CandidateName, new {id="name"})
    <br>
    <span style="font-size:11px; font-style:italic; color:red; display:none" id="name-error">*This is a required field</span>
    <br/>
    <br />
    <label for="phone">Phone number:</label>
    @Html.TextBoxFor(m => m.CandidatePhoneNumber, new {id="phone"})
     <br>
    <span style="font-size:11px; font-style:italic; color:red; display:none" id="phone-error">*This is a required field</span>
    <br>
    <br>
    <label for="city">City: </label>
    @Html.TextBoxFor(m => m.CandidateCity, new {id="city"})
      <br>
    <span style="font-size:11px; font-style:italic; color:red; display:none" id="city-error">*This is a required field</span>
        </div>
        <div style="float:right; width:50%;">
            <label for="email">Email:</label>
            @* <input type="text" id="email" /> *@
            @Html.TextBoxFor(m => m.CandidateEmail, new {id="email"})
                <br>
                <span style="font-size:11px; font-style:italic; color:red; display:none" id="email-error">*This is a required field</span>
            <br>
            <br>
            <label for="state">State: </label>
            @Html.TextBoxFor(m=>m.CandidateState, new {id="state"})
                <br>
                <span style="font-size:11px; font-style:italic; color:red; display:none" id="state-error">*This is a required field</span>
                <br />
                <br />
                <label for="address">Street Address:</label>
                @* <textarea id="address" ></textarea> *@
                @Html.TextAreaFor(m => m.CandidateStreetAddress, new {id="addr"})
                <br>
                <span style="font-size:11px; font-style:italic; color:red; display:none;" id="addr-error">*This is a required field</span>
        </div>
<hr />
<div style="width:100%; clear:both">
    <label for="experience">Experience:</label>
    @* <textarea id="experience" style="width:100%"></textarea> *@
    @Html.TextAreaFor(m => m.CandidateExperience, new {id = "experience"})
                <br>
                <span style="font-size:11px; font-style:italic; color:red;display:none" id="exp-error">*This is a required field</span>
    <br/>
    <label for="education">Eduation Experience:</label>
    @Html.TextAreaFor(m => m.CandidateEducation, new {id="education"})
                <br>
                <span style="font-size:11px; font-style:italic; color:red;display:none" id="edu-error">*This is a required field</span>
</div>
<div id="error" style="width:100%;">
<span style="color: red">You do not have the experience needed to apply for this position.</span><br />
<span style="color:red">Consider gaining experience in the following skills: </span><span id="skills-description"></span>
        </div>
<div style="width:100%" id="form-error">
    <br/>
    <span style="color: red">One or several fields in the form have been left blak. Please fill out all required fields and try submitting again.</span>
</div>
        <button type="submit" id="submit" disabled>Submit Application</button>
        
</div>
</form>
}